.wLeft{
  background-color: white;
  height: 100vh;
}
.wLeft h3 {
  z-index: 99;
  color: #444444;
}
.wLeft h3 span {
  position: relative;
  z-index: 2;
}
.wLeft h3 span::after {
  position: absolute;
  content: "";
  height: 40%;
  width: 100%;
  background-color: #ffc050;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.wLeft p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444444;
}

.wRight {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f4f5;
}
.wRight img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1206px) {
  .wRight img {
    height: 50%;
  }
}


@media (max-width: 992px) {
  .wLeft {
    height: auto;
  }
  .wRight {
    height: auto;
  }
}