.wLeft h3 {
  z-index: 99;
  color: #444444;
}
.wLeft h3 span {
  position: relative;
  z-index: 2;
}
.wLeft h3 span::after {
  position: absolute;
  content: "";
  height: 40%;
  width: 100%;
  background-color: #ffc050;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.wLeft p {
  font-size: 1.1rem;
  line-height: 1.9;
  color: #444444;
}
.progress-inner-bottom {
  position: relative;
  height: 7px;
  width: 100%;
  background-color: rgb(203, 203, 203);
}
.after-effect1 {
  height: 100%;
  width: 90%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: #6272c7;
  transition: all 1.2s ease;
}
.after-effect2 {
  height: 100%;
  width: 80%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: #ffc050;
  transition: all 1.2s ease;
}
.after-effect3 {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: #6272c7;
  transition: all 1.2s ease;
}
.wRight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f4f5;
}
.wRight img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
